
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::cmsHeader(后台用户管理)"></head>
<style>
.layui-rate {
	padding: 0px;
}
.layui-form-selected dl{
	max-height:180px;
}
</style>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			
			<div class="layui-card-body">
				<table class="layui-table" id="LAY-user-back-role"
					lay-filter="LAY-user-back-role">
				</table>

				<script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
 						
  					</div>
				</script>

<!-- 	 <button class="layui-btn layui-btn-sm" lay-event="batchdel" id="batchdel">删除</button> -->
				<script type="text/html" id="barDemo">
{{#  if(d.status ==0){ }}
  					<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="deal"><i class="layui-icon layui-icon-edit"></i>处理</a>
  {{#  } else { }}
   
  {{#  } }}
				</script>
				
				
			</div>
		</div>
	</div>

	<!-- 模板js -->
	<div th:replace="template::commonJs"></div>
	<script th:inline="javascript" type="text/javascript">
	
	//var loginUserId = [[${session.loginUser.id}]];
  layui.use(['table',"form","rate"], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table,
    rate = layui.rate;
	var currPageUrl = "/user/";

    render();
    function render(){
		table.render({
		    elem: '#LAY-user-back-role'
		    ,url:contextPath+currPageUrl+'apply/getApplyList'
		    ,toolbar: '#toolbarDemo'
		    ,page:true
		    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
		/*     ,where:{
		    	enterId:enterId
		    } */
		    ,cols: [
		    	[
		      {title: '序号',templet: '#xuhao'}
		      ,{field:'account',title: '用户名'}
		      ,{field:'money',title: '金额'}
		      ,{field:'status',title: '审批状态',templet:function(r){
		    	  return r.status==0? `<span style="color:red">待处理</span>`: r.status==1?`<span style="color:green">已通过</span>`:`<span style="color:black">已驳回</span>`;
		      }}
		      ,{field:'createTime',title: '创建时间',templet:function(r){
		    	  return dateFormatyMdhms(new Date(r.createTime));
		      }}
		      ,{fixed: 'right', title:'操作', toolbar: '#barDemo' ,width:"160"}
		    	]
		    ],
		    parseData:function(res){
		    	 
		    },
		    request: {
		        pageName: 'page' //页码的参数名称，默认：page
		        ,limitName: 'limit' //每页数据量的参数名，默认：limit
		    },
		    //完成回调
		     done:function(res,curr1,count){
		    	 
		    	/*  //限制显示
		    	 var that = this.elem.next();
		             res.data.forEach(function (item, index) {
			                if (item.roleId==1 && loginRoleId !=1) {
			                    var tr = that.find(".layui-table-box tbody tr[data-index='" + index + "']").css("background-color", "#eee");
			                    that.find(".layui-table-box tbody tr[data-index='" + index + "']").find("td:first-child>div").html("");
			                    that.find(".layui-table-box tbody tr[data-index='" + index + "']").find("td:last-child>div").html("");
			                } 
			                if (loginUserId == item.id) {
			                    var tr = that.find(".layui-table-box tbody tr[data-index='" + index + "']").css("background-color", "#eee");
			                    that.find(".layui-table-box tbody tr[data-index='" + index + "']").find("td:first-child>div").html("");
			                    that.find(".layui-table-box tbody tr[data-index='" + index + "']").find("td:last-child>div>.layui-btn:last").hide();
			                } 
			         }); */
		    } 
		  });
	}
	
    
    
    //执行toolbar事件
/* 	 table.on('toolbar(LAY-user-back-role)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
		  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
		  //active[layEvent].call(this);
		  if(layEvent === 'add'){ //查看
			  addOrUpdate(null);//新增系统管理员
		  }else if(layEvent === 'del'){
			  del(null);
		  }
	}); */
	//监听行工具事件
	  table.on('tool(LAY-user-back-role)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'deal'){
	    	deal(data.id);
	    }
	  });
	function deal(id){
		layer.open({
			title: '审核',
			btn:["通过","驳回"],
			content: '确定该申请是否通过？',
			btn1:function(){
				godeal(id,1);
			},
			btn2:function(id){
				godeal(id,2);
			}
		});  
		
	}
	function godeal(id,status){
		$.post(contextPath+currPageUrl+"apply/deal",{"id":id,"status":status},function(rt){
    		  if(rt.code==200){
    	          table.reload('LAY-user-back-role',{});
    	          layer.msg(rt.msg);
    		  }else{
				  layer_msg(4,rt.msg);
			  }
    	});
		
	}

  });
  </script>
</body>
</html>
