<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <title>欢迎登录</title>
        <link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <h1>Welcome</h1>
                <form method="post" onsubmit="return false;" class="form">
                    <input type="text" value="yanghaijun" name="username" placeholder="Account"/>
                    <input type="password" value="yhj911015" name="password" placeholder="Password"/>
                    <button type="button" id="login-button">Login</button>
                </form>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <script type="text/javascript" th:src="@{/js/jquery-3.3.1-min.js}" ></script>
        <script type="text/javascript" th:inline="javascript">
        	contextPath =  [[${#request.getContextPath()}]];
            var redirectUrl = [[${redirect}]] ; // 浏览器中返回的URL
            console.log(redirectUrl)
            function doLogin() {
            	console.log("提交内容：",$(".form").serialize())
                $.post("/single/user/login", $(".form").serialize(),function(data){
                	console.log(data)
                    if (data.code == 200) {
                    	console.log(redirectUrl)
                        if (redirectUrl == "") {
                            location.href = "http://localhost:8081/single/common";
                        } else {
                            window.location.href = "http://localhost:8081/single/";
                        }
                    } else {
                        alert("登录失败，原因是：" + data.msg);
                    }
                });
            }
            $(function(){
                $("#login-button").click(function(){
                    doLogin();
                });
            });
        </script>
    </body>
</html>